
body {
    padding: 0;
    margin: 0;
    font-family: "Geologica Variable", sans-serif;
}

.nav-svg-main {
    width: 160px;
    height: 90px;
}

.nav-svg {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 90px;
    align-items: center;
    color: #484848;
    font-size: 14px;
    font-weight: 800;
}

.nav-list-link {
    margin-right: 30px;
    display: flex;
    align-items: center;
    color: #484848;
    text-decoration: none;
}

.nav-list-link:hover {
    color: #e60012;
}

.navbar-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-bottom: 1px solid #dadada;
}

.nav-link-shadow {
    background-color: #f8f8f8;
    padding: 0.5rem 0.75rem;
    border-radius: 20px;
    border: 0;
    font-size: #f8f8f8;
    font-weight: 800;
}

.reddem_bar {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 48px;
    background-color: #f8f8f8;
}

.reddem_bar_description {
    font-weight: 300;
}

.reddem_bar_span {
    font-weight: 600;
    color: #484848;
}

a {
    text-decoration: underline;
    color: #484848;
}

.game_container {
    display: flex;
    justify-content: center;
    background-color: #d6f0fa;
}

.game_container_content {
    background-color: #ffffff;
    padding: 2rem 3rem;
    max-width: 1240px;
    margin: 20px auto;
    border-radius: 0.75rem;
    box-shadow: rgba(60, 64, 89, 0.15) 0px 4px 16px 0px;
}
.game_container_data {
    display: flex;
}

.game_container_root {
    display: flex;
    list-style: none;
}

.game_container_link {
    margin-right: 10px;
}

.game_container_img{
   width: 656px;
   height: 370px; 
   border-radius: 12px;
}